<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoadBuddy</title>

    <!-- custom css -->
    <link rel="stylesheet" href="../static/member.css">

</head>
<body>
    <div class="backgroud">
        <div class="RoadBuddy">RoadBuddy</div>
        <div class="title">
            <div class="title-signup">Sign Up</div>
            <div class="title-login">Login</div>
        </div>


        <div class="signup">
            <div class="form-div">
                <div class="form-div-title email">
                    <div>Email</div>
                </div>
                <input type="email" name="email" placeholder="Enter email address">
            </div>
            <div class="form-div">
                <div class="form-div-title username">
                    <div>Username</div>
                </div>
                <input type="text" name="username" placeholder="Enter username">
            </div>
            <div class="form-div">
                <div class="form-div-title password">
                    <div>Password</div>
                </div>
                <input type="password" name="password" placeholder="Enter password">
            </div>
            <div class="form-div">
                <div class="form-div-title confirm-password">
                    <div>Confirm password</div>
                </div>
                <input type="password" name="confirm-password" placeholder="Enter password again">
            </div>
            <div class="form-div avatar">
                <div class="form-div-title avatar">
                    <div>Upload Avatar</div>
                </div>
                <div class="form-div avatar outer">
                    <div class="undo"></div>
                    <label for="avatar"></label>
                </div>  
                <input type="file" name="avatar" id="avatar">
            </div>
            <div class="form-btns">
                <button class="next">Next</button>
                <button class="previous">Previous</button>
                <button type="submit"  class="signup">Sing up</button>
            </div>
        </div>

        <div class="signup-prompt">
            <div class="content">Are you sure to pass avatar upload?</div>
            <div class="signup-prompt-button">
                <button class="no">No</button>
                <button class="yes">Yes</button>
            </div>
        </div>

        <div class="login">
            <div class="form-div">
                <div class="form-div-title email">
                    <div>Email</div>
                </div>
                <input type="email" name="email" placeholder="Enter email address">
            </div>
            <div class="form-div">
                <div class="form-div-title password">
                    <div>Password</div>
                </div>
                <input type="password" name="password" placeholder="Enter password">
            </div>
            <button type="submit" class="login">Login</button>
        </div>
    <div>

    <div class="member-response">
        <div class="close"></div>
        <p class="member-response__title">Registering</p>
        <img src="../static/images/loading.gif" alt="loading.gif">
        <div class="member-response__icon-src">
            <p>Icon by&nbsp</p>
            <a target="_blank" href="https://icons8.com">Icons8</a>
        </div>
    </div>
    
    <!-- custom js -->
    <script type="module" src="../static/member.js"></script>
</body>
</html>