<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoadBuddy</title>

    <!-- custom css -->
    <link rel="stylesheet" href="../static/member.css">

</head>
<body>
    <div class="backgroud">
        <div class="RoadBuddy">RoadBuddy</div>
        <div class="title">
            <div class="title-signup">註冊</div>
            <div class="title-login">登入</div>
        </div>


        <div class="signup">
            <!-- <div class="form-div">
                <div class="form-div-title email">
                    <div>電子信箱</div>
                </div>
                <input type="email" name="email" placeholder="輸入電子信箱">
            </div>
            <div class="form-div">
                <div class="form-div-title username">
                    <div>姓名</div>
                </div>
                <input type="text" name="username" placeholder="輸入姓名">
            </div>
            <div class="form-div">
                <div class="form-div-title password">
                    <div>密碼</div>
                </div>
                <input type="password" name="password" placeholder="輸入密碼">
            </div>
            <div class="form-div">
                <div class="form-div-title confirm-password">
                    <div>確認密碼</div>
                </div>
                <input type="password" name="confirm-password" placeholder="再次輸入密碼">
            </div> -->
            <div class="form-div avatar">
                <div class="form-div-title avatar">
                    <div>上傳照片</div>
                </div>
                <div class="form-div avatar outer">
                    <div class="undo"></div>
                    <label for="avatar"></label>
                </div>  
                <input type="file" name="avatar" id="avatar">
            </div>
            <div>
                <button class="next">下一步</button>
                <button class="pass">跳過</button>
                <button type="submit"  class="signup">完成註冊</button>
            </div>
        </div>

        <div class="login">
            <div class="form-div">
                <div class="form-div-title email">
                    <div>電子信箱</div>
                </div>
                <input type="email" name="email" placeholder="輸入電子信箱">
            </div>
            <div class="form-div">
                <div class="form-div-title password">
                    <div>密碼</div>
                </div>
                <input type="password" name="password" placeholder="輸入密碼">
            </div>
            <button type="submit" class="login">登入</button>
        </div>
    <div>
    
    <!-- custom js -->
    <script type="module" src="../static/member.js"></script>
</body>
</html>