<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoadBuddy</title>
    <link rel="stylesheet" href="../static/room.css">

    <!-- Leaflet CSS and js file -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

    <!-- Socket.io js file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

</head>
<body>
    <div class="friend-prompt">
        <div class="from"></div>
        <div class="content"></div>
        <button class="no">No</button>
        <button class="yes">Yes</button>
    </div>

    <div class="friend-response">
        <div class="content"></div>
        <button>OK</button>
    </div>

    <div class="team-prompt">
        <div class="from"></div>
        <div class="content"></div>
        <button class="no">No</button>
        <button class="yes">Yes</button>
    </div>

    <div class="team-response">
        <div class="content"></div>
        <button>OK</button>
    </div>

    <div class="background">
        <div class="setting">
            <div class="setting-on"></div>
            <div class="setting-off"></div>
            <div class="config">個人資料</div>
            <div class="logout">登出</div>
        </div>
        <div id="map"></div>
        <div class="main-pannel">
            <div class="pull-up"></div>
            <div class="drop-down"></div>
            <nav>
                <div class="nav-menu">
                    <div class="nav-menu-title">好友列表</div>
                    <div class="nav-menu-list">
                        <div class="nav-menu-friend">好友列表</div>
                        <div class="nav-menu-team">隊伍列表</div>
                    </div>
                </div>
                
                <div class="nav-toggle-on"></div>
                <div class="nav-toggle-off"></div>
                <div class="nav-add-friend"></div>
                <div class="nav-add-team"></div>
            </nav>
            <div class="user-info">
                <div class="icon"></div>
                <div class="description">Here we go!</div>
            </div>
            <div class="friends-outer">
                <div class="friends-list">
                    <!-- <div class="item">test~~~~</div>
                    <div class="item">test</div> -->
                </div>
            </div>
            <!-- <div class="alert">
                <div>socket sid</div>
                <input type="text" name="sid">
                <div>msg</div>
                <input type="text" name="msg">
                <button class="alert">send</button>
            </div> -->
            <div class="teams-outer">
                <div class="teams-outer-create">
                    <div class="teams-outer-title">你建立的</div>
                        <div class="teams-outer-overflow">
                            <div class="create-list">
                                <!-- <div class="item">456~~~~~~~~~~</div>
                                <div class="item">456</div> -->
                            </div>
                        </div>
                </div>
                <div class="teams-outer-join">
                    <div class="teams-outer-title">你加入的</div>
                    <div class="teams-outer-overflow">
                        <div class="join-list">
                            <!-- <div class="item">456~~~~~~~~~~</div>
                            <div class="item">456</div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="friends-pannel">
            <div class="pannel-title">新增好友</div>
            <div class="close"></div>
            <div class="search">
                <div class="search-icon"></div>
                <input type="text" name="search-friend" placeholder="搜尋姓名">
            </div>
            <div class="search-outer">
                <div class="search-list">
                    <!-- <div class="item">
                        <input type="checkbox" name="username">
                        <label for="useranme">Mark</label>
                    </div> -->
                </div>
            </div>
            <button type="button">加入好友</button>
        </div>

        <div class="teams-pannel">
            <div class="pannel-title">創建隊伍</div>
            <div class="close"></div>
            <div class="search">
                <input type="text" name="create-team" placeholder="隊伍名稱">
            </div>
            <div class="pannel-title">新增隊員</div>
            <div class="friends-outer">
                <div class="friends-list">
                    <!-- <div class="item">
                        <input type="checkbox" name="username">
                        <label for="useranme">Mark</label>
                    </div> -->
                </div>
            </div>
            <button type="button" class="create-team-btn">創建</button>
            <button type="button" class="start-trip-btn">啟程</button>
        </div>

    </div>
        
    <script src="../static/room.js"></script>
    <script src="../static/event_handler/connect.js"></script>
    <script src="../static/event_handler/friend.js"></script>
    <script src="../static/event_handler/team.js"></script>
</body>
</html>