body {
    margin: 0;
    background-image: 
    linear-gradient(to bottom right, 
                    rgb(83,157,179),
                    rgb(100,193,198));
}

.RoadBuddy {
    width: 90%;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin: auto;
    margin-top: 20px;
}

.title {
    display: flex;
    font-size: 25px;
    margin-left: 20px;
    margin: 20px 20px 0 20px ;
    border-style: none;
}

.title-signup:hover, 
.title-login:hover,
div.signup-prompt-button button
{
    cursor: pointer;
}

.title-signup {
    background-color: rgba(174,221,223,0.8);
    width: 46vw;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    padding: 5px;
}

.title-login {
    background-color: rgba(251, 251, 251, 0.8);
    width: 46vw;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    padding: 5px;
    margin-left: 8vw;
}

div.signup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(174,221,223,0.8);
    border-radius: 0 0 10px 10px;
    border-style: none;
    margin: 0 20px;
    padding-top: 5px;

}

div.login {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(251, 251, 251, 0.8);
    border-radius: 0 0 10px 10px;
    border-style: none;
    margin: 0 20px;
    padding-top: 5px;

}

.form-div {
    width: 90%;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 15px 10px 15px;

}

input[type=email], input[type=text], input[type=password] {
    border-style: none;
    border-radius: 10px;
    background-color: rgba(83, 186, 190, 0);
    font-size: 20px;
    width: 100%;
}

::placeholder {
    color: rgb(71, 71, 71);
}

.form-div-title {
    display: flex;
    font-size: 20px;
    margin-bottom: 5px;
    color: grey;
}

button {
    width: 100px;
    height: 40px;
    margin: 10px 0 20px 0;
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
    font-weight: 700;
    padding: 0;
    opacity: 0.7;    
}

button.login{
    background-color: rgba(83,186,190,0.5)
}

button:hover {
    opacity: 1;

}

.form-div.avatar{
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.form-div-title.avatar{
    color: black;
}

.form-div.avatar .outer{
    position: relative;
    width: 170px;
    aspect-ratio: 1/1;
    margin: 0;
    padding: 0;
}

.form-div.avatar label{
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 10px;
    border: 5px solid rgb(244, 244, 244);
    background-image: url("./images/upload.svg");
    background-position: center;
    background-size: 20%;
    background-repeat: no-repeat;
}

.form-div.avatar div.undo{
    display: none;
    position: absolute;
    right: 5%;
    top: 5%;
    background-image: url("../static/images/trash.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

.form-div.avatar label:hover{
    cursor: pointer;
}

.form-div.avatar input[type="file"]{
    display: none;
}

div.form-btns{
    display: flex;
    gap: 10px;
}

button.previous,
button.signup{
    display: none;
}

div.signup-prompt{
    display: flex; /*flex*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: fit-content;
    position: absolute;
    top: 35%;
    left: calc(50% - 125px);
    text-align: center;
    background-color: rgb(210, 242, 243);
    border-radius: 10px;
    border: 1px rgb(226, 240, 241) solid;
}

div.signup-prompt div.content{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

div.signup-prompt-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

div.signup-prompt-button button{
    margin: 0 10px;
    background-color: white;
} 

/* response */
div.member-response {
    display: none; /*flex */
    flex: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: absolute;
    top: 20vh;
    left: calc(calc(100% - 250px) / 2);
    z-index: 2000;
    width: 250px;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px;
}

div.member-response div.close {
    position: absolute;
    top: 4%;
    right: 5%;
    background-image: url("../static/images/close-icon.svg");
    background-position: center;
    background-size: cover;
    width: 18px;
    aspect-ratio: 1/1;
}

div.member-response p.member-response__title{
    padding: 0;
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0 10px 0;
}

div.member-response img{
    width: 80px;
    height: 80px;
}

div.member-response__icon-src{
    display: flex;
    flex:none;
    justify-items: center;
    align-items: center;
    margin: 5px 0 20px 0;
}

div.member-response__icon-src p,
div.member-response a{
    font-size: 10px;
    padding: 0;
    margin: 0;
    color: grey;
}

@media (min-width: 600px) and (max-width: 1200px) {
    .RoadBuddy {
        font-size: 80px;
        margin-top: 150px;
    }

    div.title{
        align-items: center;
        justify-content: center;
        margin: 20px calc(50% - 300px) 0 calc(50% - 300px);
    }

    .title-signup,
    .title-login {
        width: 260px;
        font-size: 30px;
    }

    div.signup,
    div.login{
        width: 600px;
        margin: 0 calc(calc( 100% - 600px) / 2);
    }

    .form-div {
        width: 90%;
    }

    .form-div-title{
        font-size: 30px;
    }

    input[type=email], input[type=text], input[type=password] {
        font-size: 30px;
    }

    .form-btns {
        width: 90%;
    }

    div.form-btns{
        justify-content: center;
    }

    button{
        font-size: 30px;       
        width: 150px;
        height: 60px;
    }

    .form-div-title.avatar{
        font-size: 30px;
    }

    .form-div.avatar .outer{
        width: 350px;
    }

    div.signup-prompt{
        width: 350px;
        top: 35%;
        left: calc(50% - 175px);
    }

    div.signup-prompt div.content{
        font-size: 30px;
    }
}

@media (min-width: 1200px) {
    .RoadBuddy {
        font-size: 50px;
        margin-top: 20px;
    }

    div.title{
        align-items: center;
        justify-content: center;
        margin: 20px calc(50% - 200px) 0 calc(50% - 200px);
    }

    .title-login {
        margin-left: 4vw;
    }

    div.signup,
    div.login{
        width: 400px;
        margin: 0 calc(calc( 100% - 400px) / 2);
    }

    .form-div-title.avatar{
        font-size: 30px;
    }

    .form-div.avatar .outer{
        width: 200px;
    }
}