body {
    margin: 0;
    background-image: 
    linear-gradient(to bottom right, 
                    rgb(83,157,179),
                    rgb(100,193,198));
}

.RoadBuddy {
    width: 90%;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin: auto;
}

.title {
    display: flex;
    font-size: 25px;
    margin-left: 20px;
    margin: 20px 20px 0 20px ;
    border-style: none;
}

.title-signup:hover, 
.title-login:hover,
div.signup-prompt-button button
{
    cursor: pointer;
}

.title-signup {
    background-color: rgba(174,221,223,0.8);
    width: 46vw;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    padding: 5px;
}

.title-login {
    background-color: rgba(251, 251, 251, 0.8);
    width: 46vw;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    padding: 5px;
    margin-left: 8vw;
}

div.signup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(174,221,223,0.8);
    border-radius: 0 0 10px 10px;
    border-style: none;
    margin: 0 20px;
    padding-top: 5px;

}

div.login {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(251, 251, 251, 0.8);
    border-radius: 0 0 10px 10px;
    border-style: none;
    margin: 0 20px;
    padding-top: 5px;

}

.form-div {
    width: 90%;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 15px 10px 15px;

}

input[type=email], input[type=text], input[type=password] {
    border-style: none;
    border-radius: 10px;
    background-color: rgba(83, 186, 190, 0);
    font-size: 20px;
    width: 100%;
}

::placeholder {
    color: rgb(71, 71, 71);
}

.form-div-title {
    display: flex;
    font-size: 20px;
    margin-bottom: 5px;
    color: grey;
}

button {
    width: 100px;
    height: 40px;
    margin: 10px 0 20px 0;
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
    font-weight: 700;
    padding: 0;
    opacity: 0.7;    
}

button.login{
    background-color: rgba(83,186,190,0.5)
}

button:hover {
    opacity: 1;

}

.form-div.avatar{
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.form-div-title.avatar{
    color: black;
}

.form-div.avatar .outer{
    position: relative;
    width: 170px;
    height: 170px;
    margin: 0;
    padding: 0;
}

.form-div.avatar label{
    aspect-ratio: 1/1;
    width: 170px;
    border-radius: 10px;
    border: 5px solid rgb(244, 244, 244);
    background-image: url("./images/upload.svg");
    background-position: center;
    background-size: 20%;
    background-repeat: no-repeat;
}

.form-div.avatar div.undo{
    display: none;
    position: absolute;
    right: 5%;
    top: 5%;
    background-image: url("../static/images/trash.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

.form-div.avatar label:hover{
    cursor: pointer;
}

.form-div.avatar input[type="file"]{
    display: none;
}

div.form-btns{
    display: flex;
    gap: 10px;
}

button.previous,
button.signup{
    display: none;
}

div.signup-prompt{
    display: none; /*flex*/
    flex-wrap: wrap;
    flex: 90%;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
    position: absolute;
    top: 35%;
    left: 25%;
    text-align: center;
    background-color: rgb(210, 242, 243);
    border-radius: 10px;
    border: 1px rgb(226, 240, 241) solid;
}

div.signup-prompt-button button{
    margin: 0;
    background-color: white;
} 