body {
    margin: 0;
}

.backgroud {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100vh;
    padding-top: 90px;
    background-image: 
    linear-gradient(to bottom right, 
                    rgb(83,157,179),
                    rgb(100,193,198));
}

.title {
    display: flex;
    font-size: 30px;
    margin-left: 20px;
    margin: 0 20px;
    /* background-color: rgba(174,221,223,0.8); */


}

.title-signup {
    background-color: rgba(174,221,223,0.8);
    width: 44vw;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    padding: 5px;
}

.title-login {
    background-color: rgba(251, 251, 251, 0.8);
    width: 44vw;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    padding: 5px;
    margin-left: 2%;
}

.signup {
    display: flex;
    justify-content: center;
    background-color: rgba(174,221,223,0.8);
    border-radius: 0 0 10px 10px;
    margin: 0 20px;
    padding-top: 5px;

}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80vw;
}

.form-div {
    width: 90%;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 15px 10px 15px;

}

input[type=email], input[type=text], input[type=password] {
    border-style: none;
    background-color: rgba(174,221,223,0);
    font-size: 25px;
    width: 100%;
}

::placeholder {
    color: rgb(71, 71, 71);
}

.form-div-title {
    font-size: 20px;
    margin-bottom: 5px;
    color: grey;
}

input[type=submit] {
    width: 80%;
    height: 60px;
    margin: 10px 10px 20px 10px;
    border-radius: 5px;
    border-style: none;
    opacity: 0.7;
    font-size: 25px;
    font-weight: 700;
    
}
