<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoadBuddy</title>
    <link rel="stylesheet" href="../static/build_room.css">
</head>
<body>
    <form action="/" method="post">
        <label for="username">姓名</label>
        <input type="text" name="username">
        <label for="roomID">隊伍ID</label>
        <input type="text" name="roomID">
        <input type="text" name="initial_position">
        <input type="submit" value="建立隊伍">

    </form>
</body>
</html>